



h1{
    margin: 0 auto;
    text-align: center;
}

div{
    text-align: center;
}


#sci {
    
    width: 200px;
    height: 200px;
}

#roc {
    
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

#pap {
    
    margin: 0 auto;
    width: 200px;
    height: 200px;
}